@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --high: rgba(157, 2, 8);
    --medium: rgba(232, 93, 4);
    --low: rgba(255, 186, 8);
}

.hidden {
    display: none !important;
}

body {
    height: calc(100vh + 100px);
    margin: 0;

    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 80px calc(100vh - 80px) 100px;

    font-family: 'Urbanist', sans-serif;
}

img {
    max-width: 100%;
}

.header {
    grid-area: 1/2/2/3;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 32px;
}

.sidebar {
    grid-area: 1/1/3/2;

    background-color: #e9ecef;

    display: flex;
    flex-direction: column;
}

.open-close {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    height: 80px;
}

.openbtn {
    font-size: 36px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}


.project {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    box-sizing: border-box;

    padding-left: 15px;

    font-weight: 500;
    text-transform: uppercase;
}

.project:hover, .project:focus {
    cursor: pointer;
}

.active {
    background-color: black;
    color: white;
}

.my-projects-title {
    height: 100px;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    border-bottom: 1px solid black;

    box-sizing: border-box;

    padding-left: 15px;
    padding-bottom: 10px;

    text-transform: uppercase;

    font-weight: 600;
    font-size: 18px;
}

.my-projects-title > span {
    flex: 1;
}
 
.my-projects {
    height: 300px;
    overflow-y: scroll;
}

#new-project {
    background-color: black;
    -webkit-mask-image: url("../images/new-project.svg");
    mask-image: url("../images/new-project.svg");
    mask-repeat: no-repeat;


    display: inline-block;
    width: 22px;
    height: 22px;

    padding-right: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#new-project:focus,#new-project:hover {
    opacity: 0.5;
    cursor: pointer;
}


/* Main todo list content styling */

.main {
    grid-area: 2/2/3/3;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s;
}

.container {
    width: 85%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.main-head {
    padding-top: 15px;

    height: 60px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-size: 24px;
    font-weight: 600;

    border-bottom: 1px solid gray;

    color: black;
}

.head-title {
    flex: 1;
}

/* New todo styling */
#new-todo {
    width: 120px;
    height: 40px;
    margin-right: 15px;
}

#new-todo {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  line-height: 1.25;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

#new-todo:hover,
#new-todo:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

#new-todo:hover {
  transform: translateY(-1px);
}

#new-todo:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 1);
  transform: translateY(0);
}

.todo-list {
    width: 100%;
    flex: 1;

    overflow-y: scroll;
}

.empty-saver {
    height: 300px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emoji {
    font-size: 64px;

    padding: 10px;
}

.empty-text {
    font-size: 22px;
}

.todo {
    height: 60px;
    border-bottom: 1px solid gray;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;

    cursor: pointer;
}

/* Focus todo styling */

.todo::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}
  
.todo:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  
.todo::before {
    content: "";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0.03);
    z-index: -1;
    transition: transform 0.4s ease;
}

/* Overdue todo styling */

.todo.overdue > .date-time  {
    color: rgba(157, 2, 8);
    font-weight: 500;
}

.todo.overdue {
    background-color: rgba(157, 2, 8, 0.08);

}

.checkbox {
    width: 16px;
    height: 16px;
    appearance: none;

    margin-right: 10px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.checkIcon {
    background-color: white;
    -webkit-mask-image: url("../images/check.svg");
    mask-image: url("../images/check.svg");

    display: inline-block;
    width: 16px;
    height: 16px;
}

.title-desc {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.done > .title-desc, .done > .date-time {
    opacity: 0.5;
}

.done > .title-desc > .title-tags > .title { 
    text-decoration: line-through;
}

.title-tags {
    font-size: 16px;

    display: flex;
    align-items: center;
}

.priority {
    height: 18px;
    padding-left: 5px;
    padding-right: 5px;

    margin-left: 10px;

    font-size: 10px;
    font-weight: 600;

    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.priority.high {
    color: white;
    background-color: var(--high);
}

.priority.medium {
    color: white;
    background-color: var(--medium);
}

.priority.low {
    color: white;
    background-color: var(--low);

    /* color: var(--low);
    outline: 1px solid var(--low); */
}

.desc {
    font-size: 12px;
    color: gray;

    text-overflow: ellipsis;

    font-weight: 300;

}

.date-time {
    height: 60px;
    width: 140px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    margin: 5px;
}

.date {
    font-size: 14px;

    display: flex;
    align-items: center;
}

.date-icon {
    background-color: #1a759f;
    -webkit-mask-image: url("../images/date.svg");
    mask-image: url("../images/date.svg");

    display: inline-block;
    width: 16px;
    height: 16px;

    margin-right: 7px;
}

.time {
    font-size: 14px;

    display: flex;
    align-items: center;

}

.time-icon {
    background-color: #1a759f;
    -webkit-mask-image: url("../images/time.svg");
    mask-image: url("../images/time.svg");

    display: inline-block;
    width: 16px;
    height: 16px;

    margin-right: 7px;
}

.edit-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.edit-delete-popup-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../images/dots-vertical.svg");
    background-repeat: no-repeat;
    background-size: 100%;


    display: inline-block;
    width: 22px;
    height: 22px;
}

.edit-delete-menu  {
    position: absolute;
    top: 30px;
    right: 10px;

    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    border-radius: 5px;

    width: 170px;

    z-index: 1;
}

.option {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 3px;
}

.option:hover, .option:focus {
    background-color: #e9ecef;
    cursor: pointer;
}

/* Icons within popup*/

.editTodoIcon {
    background-color: rgb(0,0,0,1);
    -webkit-mask-image: url("../images/edit-todo.svg");
    mask-image: url("../images/edit-todo.svg");
    mask-repeat: no-repeat;

    display: inline-block;
    width: 20px;
    height: 20px;

    margin-right: 10px;

    pointer-events: none;
}

.deleteTodoIcon {
    background-color: rgb(0,0,0,1);
    -webkit-mask-image: url("../images/delete.svg");
    mask-image: url("../images/delete.svg");
    mask-repeat: no-repeat;

    display: inline-block;
    width: 20px;
    height: 20px;

    margin-right: 10px;

    pointer-events: none;
}

.editText, .deleteText {
    font-size: 16px;
    font-weight: 400;
    pointer-events: none;
}

.edit-delete-popup-icon:hover, .edit-delete-popup-icon:focus   {
    opacity: 0.5;
    cursor: pointer;
}

.editProjectIcon {
    background-color: rgb(0,0,0,1);
    -webkit-mask-image: url("../images/edit-project.svg");
    mask-image: url("../images/edit-project.svg");
    mask-repeat: no-repeat;

    display: inline-block;
    width: 20px;
    height: 20px;

    margin-right: 10px;

    pointer-events: none;
}

.deleteProjectIcon {
    background-color: rgb(0,0,0,1);
    -webkit-mask-image: url("../images/delete.svg");
    mask-image: url("../images/delete.svg");
    mask-repeat: no-repeat;

    display: inline-block;
    width: 20px;
    height: 20px;

    margin-right: 10px;

    pointer-events: none;
}


/* Popups - new project, new task, edit task, view task  */
dialog::backdrop {
    opacity: 0.9;
}

.new-project-dialog {
    width: 400px;
    height: 40vh;

    border-radius: 5px;
    border: none;
}

.new-project-dialog-container {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-project-dialog-title {
    font-size: 18px;
    height: 50px;
}


.new-project-dialog-inputs {
    flex: 1;
    display: flex;
    flex-direction: column;

    width: 320px;
}

#project-name {
    margin-top: 10px;

    height: 30px;

    border-radius: 1px;
    border: none;

    background-color:rgba(51, 51, 51, 0.05);
    outline: 1px solid rgba(51, 51, 51, 0.2);

    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
}

.project-color {
    margin-top: 15px; 
}

.colors {
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.color {
    background-color:rgba(51, 51, 51, 0.05);
    outline: 1px solid rgba(51, 51, 51, 0.2);

    width: 35px;
    height: 35px;

    border-radius: 5px;

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.color:focus, .color:hover {
    opacity: 0.5;
    cursor: pointer;
}

#new-project-cancel,
#new-project-submit,
#new-todo-cancel,
#new-todo-submit {
    padding: 10px;
    width: 100px;

    border: none;

    font-family: 'Urbanist', sans-serif;
}

#new-project-cancel:hover,
#new-project-submit:hover,
#new-project-cancel:focus,
#new-project-submit:focus,
#new-todo-cancel:hover,
#new-todo-submit:hover,
#new-todo-cancel:focus,
#new-todo-submit:focus {
    outline: 1.5px solid black;
}

/* New/Edit Todo Modal */
.new-todo-dialog {
    width: 400px;
    height: 65vh;

    border-radius: 5px;
    border: none;
}

.new-todo-dialog-container {
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-todo-dialog-title {
    font-size: 18px;
}

.new-todo-dialog-project {
    height: 30px;

    display: flex;
    
    width: 320px;

    justify-content: center;
    align-items: center;
}

.new-todo-dialog-inputs {
    flex: 1;

    display: flex;
    flex-direction: column;

    width: 320px;
}

.new-todo-dialog-inputs > div {
    padding-bottom: 15px;

    display: flex;
    flex-direction: column;

    justify-content: center;
}

.new-todo-dialog-inputs > div > label {
    margin-bottom: 10px;
}

#todo-title, #todo-desc {
    border:none;
    border-radius: 1px;

    background-color:rgba(51, 51, 51, 0.05);
    outline: 1px solid rgba(51, 51, 51, 0.2);

    height: 30px;

    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
}

.datetime-input > div {
    display: flex;
    justify-content: space-between;

    align-items: center;
}

#todo-date {
    border:none;
    border-radius: 1px;

    background-color:rgba(51, 51, 51, 0.05);
    outline: 1px solid rgba(51, 51, 51, 0.2);
    
    width: 45%;

    height: 30px;

    font-size: 16px;
    font-family: 'Urbanist', sans-serif;
}

#todo-time {
    border:none;
    border-radius: 1px;

    background-color:rgba(51, 51, 51, 0.05);
    outline: 1px solid rgba(51, 51, 51, 0.2);

    width: 45%;

    height: 30px;

    font-size: 16px;
    font-family: 'Urbanist', sans-serif;
}

.priority-input {
    flex: 1;
}

.priorities {
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.priority-radio {
    background-color:rgba(51, 51, 51, 0.05);
    outline: 1px solid rgba(51, 51, 51, 0.2);

    width: 80px;
    height: 30px;

    border-radius: 1px;

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px;
}

.priority-radio:focus, .priority-radio:hover {
    opacity: 0.5;
    cursor: pointer;
}

#high.selected {
    color: rgba(157, 2, 8);
    outline: 1px solid rgba(157, 2, 8, 0.8);
    background-color: rgba(157, 2, 8, 0.1);
}

#medium.selected {
    color: rgba(232, 93, 4);
    outline: 1px solid rgba(232, 93, 4, 0.8);
    background-color: rgba(232, 93, 4, 0.1);
}

#low.selected {
    color: rgba(255, 186, 8);
    outline: 1px solid rgba(255, 186, 8, 0.8);
    background-color: rgba(255, 186, 8, 0.1);
}

.new-todo-dialog-buttons, .new-project-dialog-buttons {
    padding: 15px;
}

.footer {
    grid-area: 3/1/4/3;

    background-color: white;
    color: black;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
}

.github-logo {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-a img{
    opacity: 0.5;
    transition: all 300ms;
}

.github-a img:hover {
    opacity: 1;
    transform: rotate(360deg) scale(1.2);
}